<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>To Do List</title>
  <link href="ILUS.css" rel="stylesheet"></link>
  <link href="style.css" rel="stylesheet"></link>
  <!-- Vue.js -->
  <script src="res/vue@2.6.12.js"></script>

<script src = "https://cdn.jsdelivr.net/sweetalert2/6.6.2/sweetalert2.min.js"> </script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/sweetalert2/6.6.2/sweetalert2.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"> </script>
</head>
<body>
<script>
window.onload = function ()
{
swal({
title:"Enter tasks here.",
type:"success",
background:"#2cd4eb",
confirmButtonColor:"#96ff78"
})
}
</script>
  <div class="nav red">
  <div id="dropdown" class="red">
    <div class="dropbtn red btn">Colours</div>
    <div class = "dropdown-content ">
      <input class="check" type="radio" onclick="change('#eeee00')" name="clr">yellow</input> <br />
      <input class="check" type="radio" onclick="change('#00ff00')" name="clr">green</input> <br />
      <input class="check" type="radio" onclick="change('#ff0000')" name="clr">red</input> <br />
      <input class="check" type="radio" onclick="change('#000000')" name="clr">default</input> <br />
      <div class="inp">
        Custom
      </div>
      <input type="color" name="color" id="color" value="#000000" onchange="change(this.value)" />
    </div>
  </div>
  <span class="red" id="time">
    
  </span>
  <hr />
  </div><br /><br /><br /><br /><br /><br /><br /><br />
  <nobr>Enter tasks here</nobr>
  <div id="vue-app">
    <input v-model="newCar" class="inp"/><br />
    <button class="btn" v-on:click="()=>{resetcolr();addCar(this);resetcolr()}">
      Add <span>+</span>
    </button>
    <ul class="list">
      <li v-for="car in cars">{{car}} <button v-on:click="()=>{removeCar(car);resetcolr()}">×</button></li>
    </ul>
  </div>
  <!-- Project -->
  <script src="app.js"></script>
</body>
</html>
